<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Ezingo Web App</title>
    </head>
    <body class="">
        <div class="container">
            <h1>Hello {{counter}}</h1>

        </div>
    </body>
</html>

